
    body{font-family:Arial,Helvetica,sans-serif;
        background:#f4f4f4;
        margin:0;padding:0}
    .login,.painel {
        max-width:500px;
        margin:60px auto;
        background:#fff;
        padding:24px;
        border-radius:20px;
        box-shadow:0 10px 30px rgba(0,0,0,.15);
        justify-content: center;
        

    }

    h2{
        margin-bottom:16px;
    }
    input,button{
        padding:10px;
        margin:5px 0;
        width:480px;
        border-radius:20px;

    }
        
    button{
        background:#0e9419;
        color:#fff;
        border:none;
        font-weight:700;
        border-radius:20px;
        cursor:pointer;
        width: 503px;

    }
    button:hover{
        opacity:.9;
    }
    .top {
    display:flex;
    justify-content:space-between;
    align-items:center}
    table{
        width:100%;
        border-collapse:collapse;
        margin-top:20px}
    th,td{
        padding:10px;
        border-bottom:1px solid #ddd;
        text-align:left;
        font-size:14px}
    .actions button{
        width:auto;
        margin-right:6px;
        padding:6px 10px}
    .edit{
        background:#f7a21e}
    .delete{
        background:#e0372c}
    .hidden{
        display:none}
